<launch>
<node name="User" pkg="three_wheel_robot" type="User_Node.py" />
<node name="Controller" pkg="three_wheel_robot" type="Velocity_Controller_PI_Node.py" output="screen"/>
<node name="Wheel_Velocities" pkg="three_wheel_robot" type="Wheel_Velocities.py" />
<node name="KF" pkg="three_wheel_robot" type="three_wheel_KF.py" />
</launch>
  
